* {
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
	background-image: url(images/patt.png);
}
.container {
	width: 1170px;
	margin: 0 auto;
}
.row:after, .menu:after {
	content: "";
	display: block;
	clear: both;
}
.row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.col-md-3 {
	width: 25%;
}

.header {
	background-color: rgba(255,255,255,0.75);
}
.menu {
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	padding-left: 0;
	margin: 0 auto;
	height: 100px;
	width: 570px;
}
.menu li {
	width: 25%;
	border-left: 1px solid #2c71b8;
}
.menu li:last-child {
	border-right: 1px solid #2c71b8;
}
.menu a {
	display: block;
	height: 50px;
	text-decoration: none;
	text-align: center;
	line-height: 50px;
	font-size: 21px;
	font-weight: 300;
	color: #2c71b8;
}
.menu a:hover {
	background-color: #2c71b8;
	color: white;
}
.logo {
	margin-top: 7px;
}
.col-md-85 {
	width: 85%;
}
.col-md-15 {
	width: 15%;
	position: relative;
}
.basket {
	width: 40px;
	height: 40px;
	background-color: white;
	border-style: none;
	background: url("images/icon (1).png") no-repeat;
	background-position: center;
	background-color: white;
}

.basket a {
	display: block;
	height: 40px;
}

.ordered {
	position: absolute;
	top: -10px;
    left: -10px;
	text-align: center;
	background-color: #2c71b8;
	color: white;
	line-height: 20px;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	font-size: 12px;
}

.searchbar {
	 display:flex;
	 flex-direction:row;
	 width: 200px;
	 height: 40px;
	 border:1px solid #2c71b8;
	 margin-left: 30px;
	 margin-right: 30px;
}

.searchbar input {
 	flex-grow:2;
  	border:none;
  	background: transparent;
  	padding-left: 20px;
  	padding-top: 5px;
}

.searchbar input:focus{
 	outline: none;
}

.searchbar button {
	display: block;
  	width: 30px;
  	height: 30px;
  	margin-top: 4px;
  	margin-right: 4px;
  	border: none;
  	background: url("images/icon (4).png") no-repeat;
	background-position: 50% 45%;
	background-color: #2c71b8;
}
.col-md-6 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
}
.col-md-6 input::placeholder {
	color: #2c71b8;
	font-size: 21px;
	font-weight: 300;
}

.menu li {
	position: relative;
}
.submenu {
	display: none;
	list-style-type: none;
	position: absolute;
	left: -1px;
	z-index: 900;
}

li:hover .submenu {
	display: block;
	background-color: #2c71b8;
}

.submenu li {
	width: 286px;
}
.submenu a {
	text-align: left;
	padding-left: 29px;
	color: white;
}

.submenu a:hover {
	background-color: white;
	color: #2c71b8;
}

.menu > li:hover > a {
	color: white;
	background-color: #2c71b8;
}

.main-container {
	width: 1170px;
	margin: 0 auto;
}

.main-grid {
	display: grid;
	grid-template-columns: 270px 900px;
}

.col-main3 {
	height: 843px;
	border: 1px solid #ffffff;
	background-color: #ffffff;
	opacity: 0.2;
}

.col-main9 {
	display: grid;
	grid-template-columns: 270px 270px 270px;
	grid-template-rows: 652px 652px 652px;
	grid-column-gap: 30px;
	grid-row-gap: 30px;
	padding-left: 30px;
	padding-top: 167px;
}

.prod-img {
	border: 1px solid #ffffff;
	background-color: #ffffff;
	opacity: 0.7;
	height: 180px;
	position: relative;
}

.pic-scale {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 30px;
	height: 30px;
	border: 1px solid #2c71b8;
	background: url('images/icon (8).png') no-repeat;
	background-position: center center;
}

.like {
	position: absolute;
	right: 10px;
	top: 50px;
	width: 30px;
	height: 30px;
	border: 1px solid #2c71b8;
	background: url('images/icon (5).png') no-repeat;
	background-position: center center;
}

.prod-img > img {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.col-main9 > div {
	border: 1px solid #ffffff;
	background-color: #2c71b8;
	opacity: 0.8;
}
.prod-name {
	color: white;
	font-size: 30px;
	font-weight: 700px;
	margin-left: 15px;
	margin-top: 16px;
	margin-bottom: 16px;
	width: 220px;
}

.prod-descr {
	color: white;
	font-weight: 300px;
	margin-left: 15px;
	width: 220px;
	margin-bottom: 16px;
}

.prod-descr > p {
	line-height: 25px;
}

.prod-type {
	font-weight: 700;
}

.price {
	color: #ffffff;
	font-size: 48px;
	font-weight: 700;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 25px;
}

sup {
	font-size:x-large; 
	vertical-align:super;
}

.details {
	display: block;
	margin: 0 auto;
	width: 210px;
	height: 50px;
	margin-bottom: 15px;
	border: 1px solid #ffffff;
	background-color: #2c71b8;
	opacity: 0.9;
	color: white;
	font-size: 21px;
	font-weight: font-weight: 700;
}

.add-to-cart {
	padding-right: 30px;
	display: block;
	margin: 0 auto;
	width: 210px;
	height: 50px;
	margin-bottom: 15px;
	border: 1px solid #ffffff;
	background: url('images/icon (2).png') no-repeat;
	background-position: 88% 50%;
	background-color: #2c71b8;
	opacity: 0.9;
	color: white;
	font-size: 21px;
	font-weight: font-weight: 700;
}
